<?xml version="1.0"?>
<settings><open_sms_version></open_sms_version><site_name>The Open SMS</site_name><site_url>http://localhost:82/openbulksms/</site_url><opensms_db_type>mysql</opensms_db_type><opensms_db_host>localhost</opensms_db_host><opensms_db_name>opensms</opensms_db_name><opensms_table_prefix>opensms_</opensms_table_prefix><opensms_username>root</opensms_username><opensms_password></opensms_password><opensms_current_theme>default</opensms_current_theme><price_per_unit>1.5</price_per_unit><unit_per_sms>1</unit_per_sms><installation_status>installed</installation_status></settings>
